.friends {
    height: max-content;
    position: sticky;
    margin-top: 4rem;
    top: -18rem;
    bottom: 0;

    .messages {
        background: dark;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
    }

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .messages {
        font-size: 1.4rem;

        .search-bar {
            display: flex;
            margin-bottom: 1rem;
        }

        .message {
            border: 1px solid rgb(230, 230, 230);
            display: flex;
            gap: 1rem;
            border-radius: var(--card-border-radius);
            text-align: start;
            padding: var(--card-padding);
            margin-bottom: 0.4rem;

            p {
                font-size: 0.8rem;
            }

            .profile-photo {

                position: relative;
                overflow: hidden;
                margin-top: 0.2rem;

                img {
                    border-radius: 50%;
                }

                .active {
                    width: 0.8rem;
                    height: 0.8rem;
                    border-radius: 50%;
                    border: 3px solid var(--color-white);
                    background: rgb(255, 255, 255);
                    position: absolute;
                    bottom: 0;
                    right: 0;


                }
            }
        }

        .message:last-child {
            margin: 0;
        }

        .message-request {
            color: var(--color-primary);
        }
    }


    h4 {
        background: transparent;
        color: var(--color-gray);
        margin: 1rem;
        margin-bottom: 2rem;
    }




    .friends-requests {
        display: flex;
        flex-flow: row;
        padding: var(--card-padding);
        margin-bottom: 5rem;
        overflow-x: auto;

        .fitrequestactions {
            display: flex;
            flex-flow: column;
            
        .request {
            min-height: 150px;
            min-width: 100px;
            border: 1px solid gray;
            background-image: url("https://i.scdn.co/image/ab6761610000e5eb34771f759ca81a422f5f2b57");
            background-size: cover;
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            margin-bottom: 0.7rem;
            justify-self: start;
            margin-right: 1rem;

            .info {
                background: transparent;
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;
            }

            .infosrequest {
        
               background: transparent;
                border-radius: 5px;

            h5 {
                color: var(--color-black);
                background:transparent;
            }
            .text-muted {
                color: var(--color-black);
                background:transparent;

            }




        }

    }}

    .action {
        background:transparent;
        display: flex;
        gap: 1rem;
        margin-left: 3rem;
    }
}
}

.all-comunitys {
    width: 90%;
    min-height: 170px;
    display: flex;
    flex-flow: row;
    padding: var(--card-padding);
    margin-bottom: 2rem;
    overflow-x: auto;

    .partys {
        border: 1px solid gray;
        background-size: cover;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ae/Grimes_Governors_Ball_2014_03_%28cropped%29.png");
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-bottom: 0.7rem;
        justify-self: start;
        margin-right: 1rem;
        min-width: 170px;
        min-height: 280px;

        .party {
            color: var(--color-white);
            margin-bottom: 1rem;
        }

        .nameparty {
            display: flex;
            flex-flow: row;
            background: transparent;
            max-height: 40px;
            justify-content: space-between;
        }

        .on-linelisteners {
            display: flex;
            flex-flow: row;
            max-height: 20px;
            background: transparent;
            margin-bottom: 2rem;


            .headphone-online {
                filter: invert(1);
                width: 20px;
                height: 20px;
                background: transparent;
            }

            .on-linelisteners {
                margin-left: 5px;
                display: flex;
                margin-bottom: 10px;
                font-size: 14px;
                background: transparent;
                color: grey;
            }
        }

        .partyleader {
            display: flex;
            background: red;
            justify-content: space-between;

            .element {
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                height: 53px;

                width: 53px;
                margin: 0 auto;
                padding: -50%;
                background-color: lime;
                animation-name: stretch;
                animation-duration: 2.0s;
                animation-timing-function: ease-out;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-play-state: running;


            }

        }



    }

    .partysone {
        border: 1px solid gray;
        background-size: cover;
        background-image: url("https://i.pinimg.com/originals/fb/2b/c8/fb2bc84a139248f67c0807d86f0f5962.png");
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-bottom: 0.7rem;
        justify-self: start;
        margin-right: 1rem;
        min-width: 170px;

        .party {
            color: var(--color-white);
            margin-bottom: 1rem;
        }

        .nameparty {
            display: flex;
            flex-flow: row;
            background: transparent;
            max-height: 40px;
            justify-content: space-between;
        }

        .on-linelisteners {
            display: flex;
            flex-flow: row;
            max-height: 20px;
            background: transparent;
            margin-bottom: 2rem;


            .headphone-online {
                filter: invert(1);
                width: 20px;
                height: 20px;
                background: transparent;
            }

            .on-linelisteners {
                margin-left: 5px;
                display: flex;
                margin-bottom: 10px;
                font-size: 14px;
                background: transparent;
                color: grey;
            }
        }

        .partyleader {
            display: flex;
            background: red;
            justify-content: space-between;

            .element {
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                height: 53px;

                width: 53px;
                margin: 0 auto;
                padding: -50%;
                background-color: lime;
                animation-name: stretch;
                animation-duration: 2.0s;
                animation-timing-function: ease-out;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-play-state: running;


            }

        }



    }



}

.container {
    margin-top: 2rem;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
}




@keyframes stretch {
    0% {
        transform: scale(1.0);
        background-color: green;
        border-radius: 100%;
    }

    50% {
        background-color: orange;
    }

    100% {
        transform: scale(1.3);
        background-color: red;
        border-radius: 100%;
    }
}