<div class="friends">


    <h4>Requests</h4>

    <div class="friends-requests">

        <div class="request">
            <div class="info">
                <div class="profile-photo">
                    <img src="https://lastfm.freetls.fastly.net/i/u/770x0/739d5ad8c1282e258ea6e6c0ac298b0e.jpg">
                </div>

            </div>
            <h5>Pablo Gaudard</h5>
            <p class="text-muted">9 amigos em comum</p>
            <div class="action">
                <button>Aceitar</button>
                <button>Recusar</button>


            </div>
        </div>

    </div>
    
    <div class="messages">
        <div class="heading">
            <h4>Amigos</h4><i class="edit"></i>

        </div>

        <div class="message">
            <div class="profile-photo">
                <img
                    src="https://64.media.tumblr.com/d4b734793ea984cc0b74eb65dfa33987/266f88f8b63ecbe2-de/s540x810/b4faeecf4f4ff7d2de117afbff78514b5de50dfc.jpg">
            </div>
            <div class="message-body">
                <h5>Magali</h5>
                <p class="text-muted">o Meow ja lavou minha calcinha?</p>
            </div>
        </div>




    </div>



</div>