<div class="friends">
    <div class="messages">
        <div class="heading">
            <h4>Amigos</h4><i class="edit"></i>

        </div>


        <div class="search-bar">
            <i class="search"></i>
            <input type="search" placeholder="Procurar mensagem..." id="message-search">
        </div>

        <div class="category">
            <h6 class="active">Principal</h6>
            <h6>Solicitações</h6>
            <h6 class="message-requests">Solicitações Amizade(8)</h6>
        </div>

        <div class="message">
            <div class="profile-photo">
                <img src="https://lastfm.freetls.fastly.net/i/u/770x0/739d5ad8c1282e258ea6e6c0ac298b0e.jpg">
            </div>
            <div class="message-body">
                <h5>Leonardo</h5>
                <p class="text-muted">Nao sei nao sei nao sei</p>
            </div>
        </div>

        <div class="message">
            <div class="profile-photo">
                <img src="https://pbs.twimg.com/media/E5DVsiKXoAIebbh.jpg">
            </div>
            <div class="message-body">
                <h5>Meow</h5>
                <p class="text-muted">Eu amo tanto a Magali vou pedir ela em casamento</p>
            </div>
        </div>

        <div class="message">
            <div class="profile-photo">
                <img src="https://styles.redditmedia.com/t5_2ujxx/styles/communityIcon_q9kathl3io3a1.png">
            </div>
            <div class="message-body">
                <h5>ex do elon musk</h5>
                <p class="text-muted">testando testando TESTANDO</p>
            </div>
        </div>

        <div class="message">
            <div class="profile-photo">
                <img
                    src="https://64.media.tumblr.com/fd67db6f38fc2f24208d099017a974f0/3651ac6970e51486-cd/s640x960/7f9f9d5e1d2fc18eb3aee010923f02648d2f7601.jpg">
            </div>
            <div class="message-body">
                <h5>leo</h5>
                <p class="text-muted">Link.</p>
            </div>
        </div>

        <div class="message">
            <div class="profile-photo">
                <img
                    src="https://64.media.tumblr.com/d4b734793ea984cc0b74eb65dfa33987/266f88f8b63ecbe2-de/s540x810/b4faeecf4f4ff7d2de117afbff78514b5de50dfc.jpg">
            </div>
            <div class="message-body">
                <h5>Magali</h5>
                <p class="text-muted">o Meow ja lavou minha calcinha?</p>
            </div>
        </div>




    </div>

    

       
       
            <h4>Requests</h4>
           
            <div class="friends-requests">

                <div class="request">
                    <div class="info">
                        <div class="profile-photo">
                            <img src="https://lastfm.freetls.fastly.net/i/u/770x0/739d5ad8c1282e258ea6e6c0ac298b0e.jpg">
                        </div>

                    </div>
                    <h5>Pablo Gaudard</h5>
                    <p class="text-muted">9 amigos em comum</p>
                    <div class="action">
                        <button>Aceitar</button>
                        <button>Recusar</button>


                    </div>
                </div>


                <div class="request">
                    <div class="info">
                        <div class="profile-photo">
                            <img src="https://lastfm.freetls.fastly.net/i/u/770x0/739d5ad8c1282e258ea6e6c0ac298b0e.jpg">
                        </div>

                    </div>
                    <h5>Pablo Gaudard</h5>
                    <p class="text-muted">9 amigos em comum</p>
                    <div class="action">
                        <button>Aceitar</button>
                        <button>Recusar</button>


                    </div>
                </div>

            </div>
        
    
</div>