.profile-settings {

  h4 {
    padding-top: 2.8rem;
    color: var(--color-gray);
    margin: 1rem;
    font-size: 1.4rem;
  }

  .profile-setting {
    background-image: url("https://64.media.tumblr.com/e85d1a90939a1f58aea1ed5361ab689c/d055c6c757796be6-05/s1280x1920/4df910b87b2fd03f448fa47c10757fd7308a8075.png");
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column;
    align-items: center;

    .profile-photo-sett {
      display: flex;
      width: 8rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .info {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;

    .infos {
      display: flex;
      flex-flow:column;
      background: transparent;

      .name {
        font-size: 200%;
        font-weight: bold;
        background: transparent;
      }
      .username {
        font-size: 120%;
        background: transparent;
      }
    }
      .bio-profile {
        margin-top: 2rem;
        display: flex;
        background: transparent;
      .bio {
        background: transparent;
      }
    }

    }
}

  .category {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    color: var(--color-gray);
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gray);

    a {
        border-radius: var(--card-border-radius);
        width: 100%;
        text-align: center;
        margin-top: 3rem;
        padding-bottom: 1.2rem;
        font-size: 1rem;


    }

    .active {

        border-color: var(--color-white);
        

    }
}


  .albuns-perfil {

    display: flex;
    flex-flow: row;
    width: 100%;
    overflow-x: auto;
    justify-content: center;
    padding: var(--card-padding);
    margin: 1rem;


  }

.recent {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  overflow: auto;

h4 {
  color: var(--color-gray);
  margin: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
}