<div class="profile-settings">
  <h4>Profile</h4><i class="edit"></i>

  <div class="profile-setting">

    <div class="profile-photo-sett">
      <img src="https://i.pinimg.com/originals/5b/c1/0c/5bc10cf800eb02f7d8e39b73ed3bdb17.jpg">
    </div>
    <div class="infos">
      <h3>leonardo</h3>
      <small>@jcnjdbeneic</small>
    </div>

    <div class="bio-profile">
      <h6>Isso eh uma bio</h6>
    </div>


  </div>
  
  <h4>Escutados Recentemente</h4>
  <div class="recent">
    <app-album-cover *ngFor="let album of albums" [data]="album"></app-album-cover>
  </div>

  <div class="category">
    <a routerLink="timeline">Fotos</a>
    <a routerLink="reviews">Reviews</a>
    <a routerLink="stories">Stories</a>
  </div>



  <router-outlet></router-outlet>

</div>