<!-- 
<div id="dados" >
    <mat-card style="margin:10px; width: 300px; background-color: rgb(201, 237, 245);">
      <mat-card-content>
        <form class="forma">


<label for="tipoconsulta">Tipo Consulta:</label><br>
<select type="name" id="tipoconsulta" name="tipoconsulta" class="field">
  <option disabled selected hidden value="">Consultas:</option>
  
  <option *ngFor="let consulta of tipoConsultas" align="center" value="{{consulta}}">{{consulta.Nome}}</option>

</select><br>

<label for="dateconsulta">Data Consulta:</label><br>
<input type="date" id="dateconsulta" name="dateconsulta" class="field"><br>

<label for="horaconsulta">Hora Consulta:</label><br>
<input type="time" id="horaconsulta" name="horaconsulta" class="field"><br><br>

<input style="color:white; background-color:rgb(85, 113, 189)" class="field" type="submit" id="enviarconsulta" value="Enviar">

</form>
</mat-card-content>
</mat-card>
</div> -->

<h1 class="Horarios  text-blue-700 ">Horarios</h1>



<form id="form1">

  <input type="button" value="Go back!" onclick="history.back()"
   id="backbutton">

<form id="form">
  <input type="search" id="query" name="q" placeholder="Search...">
  <button><svg viewBox="0 0 1024 1024">
    <path class="path1"
      d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
    </path></svg>
  </button>
</form>

</form>

<div class="event-container">
  <h3 class="year">2023</h3>

  <div class="event">

    <div class="event-left">
      <div class="event-date">
        <div class="date">8</div>
        <div class="month">November</div>

      </div>

    </div>

    <div class="event-right">
      <h3 class="event-title">Titulo</h3>

      <div class="event-description">
        dar o cu cheirar po fumar maconha chupar pau

      </div>

      <div class="divflex">

        <div class="event-timing">10h


        </div>

        <button id="MarcarConsulta">Marcar</button>

      </div>

    </div>

  </div>


</div>