<div class="usermatchpage">
    <div class="user-photos-profile">
    <input class="photos-item1" type="image" src="https://instagrammernews.com/image/Cdo9ReypAEs" width="110px" height="110px">
    <input class="photos-item2" type="image" src="https://instagrammernews.com/image/Cdo9ReypAEs" width="110px" height="110px">
    <input class="photos-item3" type="image" src="https://instagrammernews.com/image/Cdo9ReypAEs" width="110px" height="110px">
    <input class="photos-item4" type="image" src="https://instagrammernews.com/image/Cdo9ReypAEs" width="110px" height="110px">
    <input class="photos-item5" type="image" src="https://instagrammernews.com/image/Cdo9ReypAEs" width="110px" height="110px">
    <input class="photos-item6" type="image" src="https://instagrammernews.com/image/Cdo9ReypAEs" width="110px" height="110px">
</div>