.field {
    border-color: rgb(137, 137, 137);
    background-color: grey;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 10px;
}



