<div style="display:flex; justify-content: center; height:100%; align-items: center; background-color:rgb(37, 36, 36)">
  <mat-card style="margin:10px; width: 300px; background-color: rgb(156, 156, 156);">
    <mat-card-content>
      <form class="example-form">

        <label for="fname">Nome:</label><br>
        <input type="text" id="fname" name="fname" class="field"><br>

        <label for="lname">Sobrenome:</label><br>
        <input type="text" id="lname" name="lname" class="field"><br>

        <label for="birthday">Data de nascimento:</label><br>
        <input type="date" id="birthday" name="birthday" class="field"><br>

        <label for="phone">Número de telefone:</label><br>
        <input class="field" type="tel" id="phone" name="phone" placeholder="(**)*****-****"><br>


        <input type="checkbox" id="vehicle1" name="vehicle1">
        <label for="vehicle1"> <small>Li e concordo com os Termos e Condições.</small></label><br><br>

        <input style="color:white; background-color:rgb(255, 30, 195)" class="field" type="submit" value="Enviar">

      </form>
    </mat-card-content>
  </mat-card>
</div>