<div class="container">
    <div class="feeds">
  
      <div id="feed">
  
        <div class="head">
  
          <div class="user">
            <div class="profile-photo">
              <img
                src="https://preview.redd.it/rijose9otg191.png?width=432&format=png&auto=webp&s=2a2187ef32f59b087a097bff9d8939682b49d4c8">
            </div>
            <div class="infos">
              <h3>Caroline Polachek</h3>
              <small>@carolinepolachek</small>
            </div>
  
  
            <span class="edit">
              <i class="uil-ellipsis"
                src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/512/external-ellipsis-interface-royyan-wijaya-detailed-outline-royyan-wijaya.png"></i>
            </span>
  
          </div>
  
        </div>
  
        <div class="text-post">
          <p class="text-in-posts"></p>
  
        </div>
  
        <div class="music">
          <img
            src="https://preview.redd.it/cilv2q79tg191.png?width=643&format=png&auto=webp&s=b71ec5f493cefb11de5c6fb8f779a9a4563aacac">
        </div>
  
        <div class="action-button">
          <div class="interaction-buttons">
  
            <span>
              <input type="image" class="comment" src="https://img.icons8.com/ios/512/speech-bubble.png" width="30px">
            </span>
  
  
            <span>
              <input type="image" class="heart" src="https://img.icons8.com/ios/512/hearts.png" width="35px">
            </span>
  
          </div>
  
  
        </div>
  
        <div class="liked-by">
  
          <p> Curtido por <b> guedes </b> e <b> 35 outros </b></p>
  
        </div>
  
        <div class="caption">
          <p><b>guedes</b> concordo <span class="harsh-tag"></span></p>
        </div>
        <div class="comments text-muted">Ver outros 10 comentario.</div>
  
  
      </div>
  
    </div>
  
  </div>