<!-- <h1 id="whatshappening">Sei la</h1>


<div class="stories">

  <div id="mystory">
    <img id="yourstory" src="https://cdn-icons-png.flaticon.com/512/5948/5948875.png" width="60" height="40">
    <a id="mystoryname">MyStory</a>
  </div>


  <div class="storyuser" *ngFor="let number of [0,1,2]">

    <div class="userstory">
      <img class="story" src="https://cdn-icons-png.flaticon.com/512/5705/5705674.png" width="60" height="40">
      <a class="userstoryname">leonardo</a>

    </div>

  </div>

</div>

<hr id="secondline">

<h2 id="write">Compartilhe uma musica</h2>

<form id="form1">
  <div class="usuariowrite">
    <div id="tweetsubmit">
      <input type="text" id="usertext" placeholder="Escreva aqui..." size="40%">
      <input id="tweetbutton" type="image" src="https://cdn-icons-png.flaticon.com/512/318/318476.png" alt="Submit"
        width="25%" height="100%">
    </div>


    <div id="imageandvideo">

      <button id="images">
        <img src="https://cdn-icons-png.flaticon.com/512/4211/4211763.png">

      </button>

      <button id="videos">

        <img src="https://cdn-icons-png.flaticon.com/512/5697/5697997.png">

      </button>

    </div>


  </div>
</form>




<br>
<hr>

<form class="postsofusers">

  <div class="userpost">

    <div id="userinfo">
      <img id="usericononpost" src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="iconuser" width="15%"
        height="100%">
      <div id="userandnamedisplay">

        <p id="namedisplay">leonardo</p>

        <a id="userdisplay">@darkwaveduchess</a>
      </div>
    </div>

    <h2 id="writed">0unubyubt7tycyvgb tv6vv6v y 7tvtvt7vyt </h2>



      <div id="imageandname">
        <img id="imagemusic" src="https://i.scdn.co/image/ab67616d0000b2731a302aafa2ea587960e27951" alt="imagemusic">


        <div id="musicdescription">
          <div id="whatsuserdoing">
            <a id="musicname">Darq Souls</a>
          </div>
          <a id="albumname">Miss Anthropocene</a>
          <a id="artistname">Grimes</a>
        </div>
      </div>

      <div id="reactions">
        <input id="commentblock" placeholder="Comentar...">


        <input id="likebutton" type="image"
        src="https://www.freeiconspng.com/thumbs/facebook-love-png/facebook-love-png-3.png"
        width="7%" height="100%">


      </div>
    </div>

    <hr>



<br>
<hr> -->



<div class="middle">


  <h4>Stories</h4><i class="edit"></i>



  <div class="stories">


    <div class="story">
      <div class="profile-photo">
        <img src="https://i.pinimg.com/originals/5b/c1/0c/5bc10cf800eb02f7d8e39b73ed3bdb17.jpg">
      </div>
      <p class="name">Your Story</p>
    </div>

    <div class="story">
      <div class="profile-photo">
        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/c46f7c8ecc2113cf70999cf5fc0c8ff4.jpg">
      </div>
      <p class="name">Grimes</p>
    </div>


    <div class="story">
      <div class="profile-photo">
        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/2cfb77c1edd53c19dbc309870bfc8075.jpg">
      </div>
      <p class="name">Caroline Polachek</p>
    </div>

    <div class="story">
      <div class="profile-photo">
        <img src="https://lastfm.freetls.fastly.net/i/u/770x0/739d5ad8c1282e258ea6e6c0ac298b0e.jpg">
      </div>
      <p class="name">Eartheater</p>
    </div>


  </div>


  <form class="create-post">


    <div class="create-post-input">
      <input type="text" placeholder="Criar post">
    </div>

    <div class="create-button">
      <button>Criar</button>
    </div>


  </form>


</div>

<hr>


<div class="container">

  <div class="feeds">
    <h4>Timeline</h4><i class="edit"></i>

    <div id="feed">

      <div class="head">

        <div class="user">
          <div class="profile-photo">
            <img src="https://i.pinimg.com/originals/5b/c1/0c/5bc10cf800eb02f7d8e39b73ed3bdb17.jpg">
          </div>
          <div class="infos">
            <h3>leonardo</h3>
            <small>@jcnjdbeneic</small>
          </div>


          <span class="edit">
            <i class="uil-ellipsis"
              src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/512/external-ellipsis-interface-royyan-wijaya-detailed-outline-royyan-wijaya.png"></i>
          </span>

        </div>

      </div>

      <div class="text-post">
        <p class="text-in-posts">oiii</p>

      </div>

      <div class="music">
        <div class="profile-music">
          <div class="albuns">
            <div class="info-music">
              <div class="music-photo">
                <img src="https://static.stereogum.com/uploads/2021/10/Eartheater-Scripture-1633539626.jpeg">
              </div>
    
            </div>

            <div class="flex flex-row justify-between items-end">
              <div>
                <h5>Scripture</h5>
                <p class="text-muted">Eartheater</p>
              </div>

              <div>
                <fa-icon [icon]="faStar" *ngFor="let number of [1,2,3,4,5]"></fa-icon>
              </div>
            </div>
    
          </div>
        </div>
      </div>

      <div class="action-button">
        <div class="interaction-buttons">

          <span>
            <input type="image" class="comment" src="https://img.icons8.com/ios/512/speech-bubble.png" width="30px">
          </span>


          <span>
            <input type="image" class="heart" src="https://img.icons8.com/ios/512/hearts.png" width="35px">
          </span>

        </div>


      </div>

      <div class="liked-by">

        <p> Curtido por <b> testeteste </b> e <b> 3.432 outros </b></p>

      </div>

      <div class="caption">
        <p><b>testeteste</b> testando testando <span class="harsh-tag"></span></p>
      </div>
      <div class="comments text-muted">Ver outros 10 comentario.</div>


    </div>

  </div>

</div>

<hr>


<div class="container">
  <div class="feeds">

    <div id="feed">

      <div class="head">

        <div class="user">
          <div class="profile-photo">
            <img src="https://ic.pics.livejournal.com/niallguitar/53554493/643848/643848_original.png">
          </div>
          <div class="infos">
            <h3>xxxxxxxxxxx</h3>
            <small>@ksdienencnin</small>
          </div>


          <span class="edit">
            <i class="uil-ellipsis"
              src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/512/external-ellipsis-interface-royyan-wijaya-detailed-outline-royyan-wijaya.png"></i>
          </span>

        </div>

      </div>

      <div class="text-post">
        <p class="text-in-posts">
Grew up under yellow light on the street
</p>

      </div>

      <div class="music">
        <img src="https://i1.wp.com/www.dci.com.br/wp-content/uploads/2020/08/Elon-Musk-Grimes-GettyImages.jpg">
      </div>

      <div class="action-button">
        <div class="interaction-buttons">

          <span>
            <input type="image" class="comment" src="https://img.icons8.com/ios/512/speech-bubble.png" width="30px">
          </span>


          <span>
            <input type="image" class="heart" src="https://img.icons8.com/ios/512/hearts.png" width="35px">
          </span>

        </div>


      </div>

      <div class="liked-by">

        <p> Curtido por <b> leonardoguedes </b> e <b> 2 outros </b></p>

      </div>

      <div class="caption">
        <p><b>leonardoguedes</b> Isso eh um comentario? <span class="harsh-tag">#comentario</span></p>
      </div>
      <div class="comments text-muted">Ver outros 2 comentario.</div>


    </div>

  </div>

</div>

<hr>


<div class="container">
  <div class="feeds">

    <div id="feed">

      <div class="head">

        <div class="user">
          <div class="profile-photo">
            <img
              src="https://preview.redd.it/rijose9otg191.png?width=432&format=png&auto=webp&s=2a2187ef32f59b087a097bff9d8939682b49d4c8">
          </div>
          <div class="infos">
            <h3>Caroline Polachek</h3>
            <small>@carolinepolachek</small>
          </div>


          <span class="edit">
            <i class="uil-ellipsis"
              src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/512/external-ellipsis-interface-royyan-wijaya-detailed-outline-royyan-wijaya.png"></i>
          </span>

        </div>

      </div>

      <div class="text-post">
        <p class="text-in-posts"></p>

      </div>

      <div class="music">
        <img
          src="https://preview.redd.it/cilv2q79tg191.png?width=643&format=png&auto=webp&s=b71ec5f493cefb11de5c6fb8f779a9a4563aacac">
      </div>

      <div class="action-button">
        <div class="interaction-buttons">

          <span>
            <input type="image" class="comment" src="https://img.icons8.com/ios/512/speech-bubble.png" width="30px">
          </span>


          <span>
            <input type="image" class="heart" src="https://img.icons8.com/ios/512/hearts.png" width="35px">
          </span>

        </div>


      </div>

      <div class="liked-by">

        <p> Curtido por <b> guedes </b> e <b> 35 outros </b></p>

      </div>

      <div class="caption">
        <p><b>guedes</b> concordo <span class="harsh-tag"></span></p>
      </div>
      <div class="comments text-muted">Ver outros 10 comentario.</div>


    </div>

  </div>

</div>