<h4></h4>
<form class="wrapper">
  <div class="input-box">
    <div class="area">
      <span class="placeholder">Create Post</span>
      <app-album-cover *ngFor="let album of albums" [data]="album" type="review"></app-album-cover>
      <input class="input editable" contenteditable="true" spellcheck="false" [(ngModel)]="postContent" name="postContent">
      <div class="input readonly" contenteditable="true" spellcheck="false"></div>

      <div class="bottom">
        <ul class="icons">
          <li>
            <i>
              <fa-icon [icon]="faLink"></fa-icon>
            </i>

          </li>

          <li>
            <i>
              <fa-icon [icon]="faImage"></fa-icon>
            </i>

          </li>

          <li>
            <i>
              <fa-icon [icon]="faLocationArrow"></fa-icon>
            </i>

          </li>

        </ul>

        <div class="content">
          <span class="counter">100</span>
          <button class="CREATE" (click)="post()">Create</button>
        </div>

      </div>

    </div>

  </div>


</form>

<h4>Timeline</h4>

<div *ngFor="let review of reviews">
  {{review.Content}}
</div>


<div id="feed">

  <div class="user">
    <div class="profile-photo">
      <img src="https://i.pinimg.com/originals/5b/c1/0c/5bc10cf800eb02f7d8e39b73ed3bdb17.jpg">
    </div>
    <div class="infos">
      <h3>leonardo</h3>
      <small>@jcnjdbeneic</small>
    </div>
  </div>

  <div class="music post-review">
    <app-album-cover *ngFor="let album of albums" [data]="album" type="review"></app-album-cover>
    <div class="reactions">
      <button>
        <fa-icon [icon]="faShare"></fa-icon>
      </button>

      <button>
        <fa-icon [icon]="faComment"></fa-icon>
      </button>

      <button>
        <fa-icon [icon]="faHeart"></fa-icon>
      </button>

    </div>

  </div>