<div>
    
</div>


<div id="div1" style="display:flex; justify-content: center; height:100%; align-items: center; background-color:rgb(224, 199, 179)">
    <mat-card style="margin:10px; width: 300px; background-color: rgb(249, 249, 249);">
      <mat-card-content>
        <form class="example-form">
  
          <label for="fname">Nome Paciente:</label><br>
          <input type="text" id="fname" name="fname" class="field" placeholder="Digite seu nome"><br>
  
          <label for="birthday">Data de nascimento:</label><br>
          <input type="date" id="birthday" name="birthday" class="field"><br>
  
          <label for="phone">Número de telefone:</label><br>
          <input class="field" type="tel" id="phone" name="phone" placeholder="(**)*****-****"><br><br>

          <input style="color:white; background-color:rgb(85, 113, 189)" class="field" type="submit" id="enviarconsulta1" value="Enviar">
  
        </form>
      </mat-card-content>
    </mat-card>
  </div>
